.client-page-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 1200px;
  background-color: white;
  border-radius: 20px;
}

.line1 {
  height: 620px;
  border-left: 3px solid grey;
}


.client-info,
.car-info {
  width: 50%;
  height: 600px;
  display: flex;
  flex-direction: column;
  padding: 80px;
  color: #575757;
  position: relative;
}

.car-info {
  bottom: 10px;
}

.welcome-title, .registered-car {
  font-size: 24px;
  color: #575757;
  font-weight: 500;
  margin-bottom: 15px;
}

.client-name {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 20px;
}

input::placeholder {
  font-weight: 600;
  font-size: 20px;
}

.red {
  color: red;
  margin: 0;
}

.add-car {
  color: red;
  position: relative;
  top: 20px;
  left: 20px;
  font-weight: 500;

}

input {
  border: none;
  border-bottom: solid #575757 1px;
  margin: 20px;
  padding: 10px;
  width: 450px;
  font-size: 20px;
}

.info-client {
  border: none;
  border-bottom: solid #575757 1px;
  margin: 20px;
  padding: 10px;
  width: 450px;
  font-size: 20px;
}