.rda-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 70px;
}

.logo img {
    width: auto;
    height: 160px;
}

.navigation {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-link {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 22px;
    font-weight: 700;
    margin-left: 32px;
}