.rda-SignupCard {
    width: 500px;
    background-color: #FFF;
    border-radius: 20px;
}

.rda-SignupCard-header{
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.rda-SignupCard-content{
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.input-box-signup {
    background: linear-gradient(#575757, #575757) center bottom 10px /calc(100% - 10px) 2px no-repeat;
    background-color: #ffffff;
    padding: 30px;
    border: none;
    margin-bottom: 10px;
}

.input-box-signup[type=text] {
    font-size: 15px;
    color: #575757;
}

.input-box-signup:focus {
    outline: none;
}

.login-button-signup-page{
    width: 100%;
    height: 8vh;
    border-radius: 20px 0px 0px 0px;
    font-size: x-large;
    border-right: gray 2px solid;
    font-weight: bold;
    color: rgb(70, 70, 70);
}

.signup-button-signup-page{
    width: 100%;
    height: 8vh;
    border-radius: 0px 20px 0px 0px;
    font-size: x-large;
    background-color: white;
    border: none;
    font-weight: bold;
    color: rgb(70, 70, 70);
}

.personal-data{
    font-size: #575757;
    position: relative;
    left: 30px;
}

.my-car{
    font-size: #575757;
    position: relative;
    left: 30px;
}

.addcar-button{
    width: 70%;
    height: 6vh;
    border-radius: 20px;
    font-size: x-large;
    background: #8C8C8C;
    color: rgb(255, 255, 255);
    border: none;
    margin-top: 2%;
}

.enter-button-signup-page{
    width: 70%;
    height: 6vh;
    border-radius: 20px;
    font-size: x-large;
    background: #3DAE2B;
    color: #fff;
    border: none;
    margin-bottom: 10%;
    margin-top: 3%;
}