.container {
    max-width: 900px;
    margin: 0 auto; /* Centralizando o container */
}

.filter-tab {
    display: flex;
    justify-content: space-between; /* Espaçamento entre os elementos */
    align-items: center;
    width: 100%; /* Garantindo que a largura da .filter-tab seja 100% */
}

.filter-input,
.filter-select {
    padding: 8px;
    border: 1px solid #ccc; /* Adicionando uma borda */
    border-radius: 10px; /* Ajustando o arredondamento */
    width: 150px; /* Definindo uma largura fixa */
    display: flex; /* Usando flexbox */
    align-items: center; /* Centralizando verticalmente */
}
.filter-input input {
    flex: 1; /* Permitindo que o input ocupe todo o espaço disponível */
}


.filter-input {
    height: 35px;
    margin: 0 !important;
}

.filter-select {
    margin-left: 10px; /* Movendo o select para a direita */
}

