.rda-LoginCard {
    width: 500px;
    background-color: #FFF;
    border-radius: 20px;
}

.rda-LoginCard-header{
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.rda-LoginCard-content{
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.forgot-pass{
    align-self: flex-start;
    text-decoration: underline;
    font-size: small ;
    margin-left: 8vh;
    color: rgb(70, 70, 70);
    font-weight: 200;
}

.login-button-login-page{
    width: 100%;
    height: 8vh;
    border-radius: 20px 0px 0px 0px;
    font-size: x-large;
    background: white;
    border: none;
    font-weight: bold;
    color: #575757;

}

.signup-button-login-page{
    width: 100%;
    height: 8vh;
    border-radius: 0px 20px 0px 0px;
    font-size: x-large;
    border-left: gray 2px solid;
    border-bottom: gray 2px solid;
    font-weight: bold;
    color: #575757;
}

.login-or-register {
    left: 10px;
}

.input-box-login{
    width: 70%;
	height: 6vh;
	background: white;
	justify-content: center;
	display: flex;
    margin: 0.3vh auto;
	padding: 20px;
    border: #575757 2px solid;
	border-radius: 18px;
    font-size:1em;
}

.input-box::placeholder{
    font-size: 1.5em;
    color: #575757;
}

.enter-button-login-page{
    width: 70%;
    height: 6vh;
    border-radius: 20px;
    font-size: x-large;
    background: #3DAE2B;
    font-weight: bold;
    color: #FFFFFF;
    border: none;
    margin-bottom: 10%;
    margin-top: 3%;
}